.header{
    width: 100%;
    background-color: rgb(232,227,208);
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    padding-left: 40px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);

    img{
        width: 140px;
        vertical-align: middle;
    }
    li:hover{
        transform: scale(1.2);
    }
}

.headerMenu{
    width: 40%;
    ul{
        list-style-type: none;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        
        height: 25%;
        align-items: center;
        padding-right:40px ;
        
        li:hover{
        color: rgb(88, 81, 56);
        }
        li{
            display: inline-block;
            padding: 5px;
            margin: 0px 10px;
        }
    }
     
}




@media only screen and (max-width: 768px) {
    .headerMenu{
        width: auto;
    }    
    .headerMenu ul{
        flex-wrap: wrap;
    }    
    .header{
        padding-left: 20px;
        flex-wrap: wrap;
    }   
    
}

@media only screen and (min-width:769px){
        .headerMenu{
    width:100% !important;
    }
}